@model IEnumerable<Order>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ol class="breadcrumb ">
        <li><a class="" asp-area="admin" asp-controller="homeadmin" asp-action="index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a class=" active ">Danh sach Don Hang</a></li>
    </ol>

    <!-- Main content -->
    <section class="content">
        <form action="/admin/category/index" method="get">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="d-flex row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 " style="margin-right:0px">
                                <input type="text" class="form-control" value="" placeholder="Search" id="txtsearch">
                            </div>
                            <button class="btn btn-primary " id="btnsearch" type="submit"><i class="fa fa-search"></i></button>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered date-table">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">STT</th>
                                        <th>Tên Nguoi Dat</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Dia chi</th>
                                        <th>Tien</th>
                                        <th>Loai Thanh Toan</th>
                                        <th>Trang Thai Don</th>
                                        <th>NoTe</th>
                                        <th>Ngày tạo</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        @{
                                            var STT = 1;
                                            foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@STT</td>
                                                <td>@item.FullName</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td>@item.Address</td>
                                                <td>@item.ToTalOrder</td>
                                                @foreach ( var it in ViewBag.Pay)
                                                {
                                                    if (it.Paymentid== item.Paymentid)
                                                    {
                                                        <td>@it.PaymentName</td>
                                                    }
                                                }
                                                <td>@item.StatusName</td>
                                                <td>@item.Note</td>
                                                <td>@item.OrderDate</td>
                                                <td><button class="btn btn-primary">Xoa</button></td>
                                           
                                            </tr>
                                            STT++;
                                        }
                                       }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            GetList(tuKhoa);
        });
        function DeleteProduct(id) {
            let check = confirm("Bạn có chắc muốn xóa Sản Phẩm này ");
            if (check) {
                $.ajax({
                    url: '/admin/product/deleteproduct/' + id,
                    type: 'POST',
                    success: function (result) {
                        if (result.success == true) {
                            GetList(tuKhoa);
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                })
            }
        }
    </script>
}